body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:374px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u52_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:1279px;
}
#u52 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:1279px;
}
#u53 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:632px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:75px;
  width:75px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u55 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:75px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u56 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:75px;
  width:75px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u57 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:75px;
  width:75px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u58 {
  border-width:0px;
  position:absolute;
  left:225px;
  top:75px;
  width:75px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u59 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:75px;
  width:75px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u60 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:1216px;
  width:93px;
  height:63px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u61 {
  border-width:0px;
  position:absolute;
  left:187px;
  top:1216px;
  width:93px;
  height:63px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u62 {
  border-width:0px;
  position:absolute;
  left:94px;
  top:1216px;
  width:93px;
  height:63px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u63 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1216px;
  width:93px;
  height:63px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u64 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:115px;
  width:375px;
  height:58px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u65 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:278px;
  width:375px;
  height:745px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u66 {
  border-width:0px;
  position:absolute;
  left:187px;
  top:173px;
  width:188px;
  height:45px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u67 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:173px;
  width:188px;
  height:45px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u68 {
  border-width:0px;
  position:absolute;
  left:307px;
  top:1107px;
  width:54px;
  height:53px;
  overflow:hidden;
}
#u68_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:53px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u68_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
